# --- Python & Virtual Environments ---
venv/
.venv/
env/
.env/
bin/
lib/
share/
pyvenv.cfg
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# --- Javascript / Node ---
node_modules/
/dist
.npm
.eslintcache
.stylelintcache

# --- OS & IDEs ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# --- Environment & Secrets ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.secret
*.key
*.pem

# --- Project Specific Defaults ---
Taipei-City-Dashboard-BE/TaipeiCityDashboardBE
Taipei-City-Dashboard-BE/dist
Taipei-City-Dashboard-FE/dist
docker/db-data
docker/nginx/ssl
Taipei-City-Dashboard-DE/local_env/volume_data
Taipei-City-Dashboard-DE/logs
Taipei-City-Dashboard-DE/data

# --- Data Science & Temp ---
*.bak
*.tmp
*.temp
.ipynb_checkpointssetup_mac.sh
